@charset "gb2312";
<!--
body {font-size:12px;color:#000000; margin:0 10px;background-color:#FFFFFF;font-family: "微软雅黑","宋体";SCROLLBAR-FACE-COLOR:#0F70C7; SCROLLBAR-HIGHLIGHT-COLOR:#0F70C7; SCROLLBAR-SHADOW-COLOR:#cccccc; SCROLLBAR-3DLIGHT-COLOR:buttonface; SCROLLBAR-ARROW-COLOR:#FFF; SCROLLBAR-TRACK-COLOR:#eaf0f5; SCROLLBAR-DARKSHADOW-COLOR:#ffffff; }
label{cursor:pointer}
label:hover{color:#F00}
.stable{background:#FFF;}
.stable tr{background:#FFF}
.stable tr:hover{ background:#FFC}
.stable thead td{height:25px;background:#eef3f7;border-top:1px solid #d5dfe8;border-bottom:1px solid #d5dfe8;font-weight:normal;line-height:25px;}
.stable .tr{font-family:'微软雅黑'; background:#F7F7F7}
.stable .tr:hover{font-family:'微软雅黑'; background:#F1F5F8}
.td{BORDER-bottom:#CCC 1px solid}
a{font-size:12px;color: #000000;text-decoration: none;}
a:hover {text-decoration: none;color: #cc0000; }

img{border:0}
.btn{font-size:12px;background:url(button_bg.gif);border:1px solid #BDC5CA; height:25px;color:#333333;cursor:pointer}
.btn2{font-size:12px;background:url(button_bg.gif);border:1px solid #BDC5CA; height:20px;color:#333333;cursor:pointer}
.Action{ width:620px; margin:0px auto; padding-left:50px;}
.Action a.Action_1{ width:120px; float:left; margin:2px 10px;text-align:center;color:#FFF;display: block; background:#F00; padding:2px 5px}
.Action a.Action_2{ width:120px; float:left;margin:2px 10px;text-align:center;color:#FFF;display: block; background:#0CF; padding:2px 5px}
.p{line-height:30px; text-align:center; font-size:14px}
.d{line-height:30px; padding-left:310px;font-size:14px}

/*标题12字样*/
.box12{margin:0;padding-left:0px; font-size:12px; color:#666666; text-align:left;}
.box12 ul{margin-left:0px;list-style:none;padding:0;border:0;margin:0px 0 0px 5px;}
.box12 li{padding:5px;border-bottom:1px #CCCCCC dashed;position:relative;background:url(arrow_box.gif) no-repeat left 45%; padding-left:15px; margin:0 auto;}
.box12 li a{font-size:14px; line-height:25px;}
/*登陆框*/
#login{position:absolute;top:50%;left:50%;	margin:-200px 0 0 -225px;width:450px;height:auto; background:url(White_bj.png)}
.loginlogo{width:370px; height:70px; margin:10px auto; background:url(login_box_logo.gif) no-repeat }
.loginlogo .inc{text-align:right;}
.loginbox{margin:10px; height:380px; overflow:hidden; position:relative; background-color:#FFFFFF;font-family:Microsoft YaHei,SimHei,'宋体';}
.loginbox .name{width:338px; height:48px; margin:10px auto; background:url(input_bj.png) top center no-repeat}
.loginbox .name .inpu{width:280px;height:30px; line-height:30px; margin:9px 4px 4px 48px; font-size:16px;border-left:0px;border:0px}

.loginbox .pass{width:338px; height:48px; margin:10px auto; background:url(input_bj.png) 0px -48px  no-repeat}
.loginbox .pass .inpu{width:280px;height:30px; line-height:30px; margin:9px 4px 4px 48px; border:none;font-size:16px;border:0px}

.loginbox .Code{width:338px; height:48px; margin:10px auto; background:url(input_bj.png) 0px -96px  no-repeat}
.loginbox .Code .inpu{width:175px;height:30px; line-height:30px; margin:9px 4px 4px 48px; border:none; float:left;font-size:16px;border:0px}
.loginbox .Code .img_Code{width:85px;height:30px; margin-left:18px; margin-top:9px; font-size:16px; line-height:30px; float:left;}
.loginbox .ver{ text-align:center; width:100%; line-height:30px; height:30px;font-family:Microsoft YaHei,SimHei,'宋体';}
#iets{ width:100%; background: #FFFFFF; line-height:25px; position:absolute; bottom:10px; left:0px; text-align:center}
/*----------------------------
	The Submit Button
-----------------------------*/
#login form { margin:0px}
#login form .sub60{width: 338px; height:50px;margin:10px auto 0px auto; border: 1px #0066CC solid ;color: #D3EBFF;font: bold 24px Cambria,"Hoefler Text",serif;background-color:#0496DA;}
#login form .submit{border: 1px solid #004C9B; border-radius: 3px 3px 3px 3px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.3); color: #D3EBFF; cursor: pointer; display: block; font: bold 24px Cambria,"Hoefler Text",serif; margin:35px auto 0 auto; padding: 10px; text-shadow: 0 -1px 0 #444444; width: 338px; height:50px;background-color:#0496DA;background-image: linear-gradient(top, #0496DA 0%, #0067CD 100%);background-image: -o-linear-gradient(top, #0496DA 0%, #0067CD 100%);background-image: -moz-linear-gradient(top, #0496DA 0%, #0067CD 100%);background-image: -webkit-linear-gradient(top, #0496DA 0%, #0067CD 100%);background-image: -ms-linear-gradient(top, #0496DA 0%, #0067CD 100%);}
#login form submit:hover{background-color:#0383d3;background-image: linear-gradient(top, #0383d3 0%, #004c9b 100%);background-image: -o-linear-gradient(top, #0383d3 0%, #004c9b 100%);background-image: -moz-linear-gradient(top, #0383d3 0%, #004c9b 100%);background-image: -webkit-linear-gradient(top, #0383d3 0%, #004c9b 100%);background-image: -ms-linear-gradient(top, #0383d3 0%, #004c9b 100%);}
#login form submit:active{background-color:#026fcb;background-image: linear-gradient(top, #026fcb 0%, #004c9b 100%);background-image: -o-linear-gradient(top, #026fcb 0%, #004c9b 100%);background-image: -moz-linear-gradient(top, #026fcb 0%, #004c9b 100%);background-image: -webkit-linear-gradient(top, #026fcb 0%, #004c9b 100%);background-image: -ms-linear-gradient(top, #026fcb 0%, #004c9b 100%);}

<!--
.cop{font-size:12px;color:#666666;}
.t2 {color:#FF6600;font-size: 14px;font-weight:bold;}
.t1 {font-size: 20px; font-weight:bold;}
.sffocus {background-color:#0174DF;}
.mian_bt { line-height:30px; font-size:14px; font-weight:bold; color:#333}
.mian_body {height:auto; position:relative; background:url(pic5.gif) no-repeat left top}
.mian_body li { line-height:20px;list-style-type: none; color: #666666}
/*-------------------*/
#pw{height: auto; overflow:hidden;}
.imgDiv{width:117px; height:95px;float:left; margin:2px;border:1px #CCC solid ;padding:1px; background:#FFF}
.imgDiv img{width:115px; height:70px; margin:0 auto;border:1px #CCC solid}
.imgDiv img:hover{border:1px #CC0000 solid}
/*列表分页*/
.list_page{font-family:"微软雅黑","宋体";padding:5px; height:auto; margin-bottom:5px;overflow:hidden;text-align:center; clear:both;}
.list_page a{background:#ffffff; border:1px #d7d7d7 solid;color:#a1a1a1;text-align:center; margin:2px 1px; padding:3px 6px;}
.list_page a:hover{background:#d20000; color: #ffffff;}
.list_page span{border:1px #d7d7d7 solid;text-align:center;background:#d20000;color:#ffffff;margin:2px 1px; padding:3px 6px;font-size:12px;}
/*提示*/
.pop{position:fixed;width:100%;height:100%; z-index:1;background:rgba(0,0,0,0.6);filter: progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = "#60000000",endColorstr = "#60000000") 6}
.pop .box{width:500px;height:240px;background:#FFF;position:absolute;left:50%;top:30%;text-align:center;margin-left:-250px;height:-120px;border:1px #999 solid}
.pop .box .t1{font-size:14px;color:#06C;line-height:50px; margin-top:40px; text-align:center}
.pop .box .t2{font-size:14px;color:#06C;line-height:50px; margin-top:10px; text-align:center}
.pop .box .t1 a{color:#F00}
.pop .box form{height:50px}
.pop .box form .value{height:30px;padding:3px 5px; font-size:18px}
.pop .box form .button{height:40px;padding:3px 5px; cursor:pointer}
.pop .box p a{text-align:center}
.pop .box h1{line-height:70px;}