/**/
.message {width:950px; height:180px;padding:20px;  padding-right:10px}
.message .title {display: block;width:950px;height:44px;background: url("../images/blog_icons.png") no-repeat scroll 0px 0px transparent;position: absolute;top:0px;left:0px;}
.message .title p{margin-left:220px; margin-top:20px;color:#B2B2B2}
.message .title p b{color:#666666; font-size:16px; font-family:Verdana, Arial, Helvetica, sans-serif}
.message .title p a{margin-left:60px}
.message .form{padding-top:40px}
.message .form .body{width:940px; height:80px}
.message .putbox{width:950px; height:45px; margin-top:10px;}
.message .putbox .prompt{float:left; width:160px; height:28px; color:#999999; font-size:14px;  font-family:"Microsoft YaHei", 'Arial';}
.message .putbox .text {display: block;height:28px;line-height:28px;padding:3px 5px 3px 30px;outline:medium none;resize:none;box-shadow:1px 0px 6px rgba(204, 204, 204, 0.3) inset;border:1px solid rgb(223, 223, 223);background: url("../images/blog_icons.png") no-repeat scroll -200px -200px transparent;max-width:156px;}
.message .putbox .text.qq {background-position: -248px -38px;margin-right:10px;}
.message .putbox .text.user {background-position: -248px -87px;}
.message .putbox .text.code {width:100px;margin-left:10px;background-position: -248px -124px;}
.message .putbox .codeimg {width:70px; height:34px;margin-left:10px;border:1px solid rgb(223, 223, 223);}
.message .putbox .submit {display: block;width: 86px;height: 36px;line-height:36px;text-align:center;background: none repeat scroll 0% 0% rgb(79, 196, 12);color: #FFFFFF;font-size: 14px;border: 0px none;cursor: pointer;}
.message .putbox .submit:hover {width:86px;height:36px;background:#FF0000; display:block}

/*¡Ù—‘ ±º‰÷·¡–±Ì*/
.demo{width:660px;margin:0 auto;background:#EAEAEA}
.history{background:url(../images/line04.gif) repeat-y 68px 0;overflow:hidden;position:relative;}
.history .more{width:400px; height:32px; line-height:32px; position:absolute; z-index:10;right:20px; margin-top:10px; text-align:right;}
.history .more a{ color:#0099CC}
.history-date{overflow:hidden;position:relative;}
.history-date h2{background:#fff url(../images/icon06.gif) no-repeat 40px 0;height:59px;font-size:25px;font-family:"Œ¢»Ì—≈∫⁄";font-weight:normal;padding-left:45px;margin-bottom:40px;}
.history-date h2 a{color:#00bbff;display:inline-block;*display:inline;zoom:1; color:#009900; font-size:16px;background:url(../images/icon08.gif) no-repeat left 50%;padding-left:17px;margin:21px 97px 0 70px;}
.history-date ul li{background:url(../images/icon07.gif) no-repeat 61px 10px;padding-bottom:50px;zoom:1;}
.history-date ul li.last{padding-bottom:0;}
.history-date ul li:after{content:" ";display:block;height:0;clear:both;visibility:hidden;}
.history-date ul li h3{float:left;width:60px;text-align:right;overflow:hidden;color:#c3c3c3;font:normal 18px/16px Arial;}
.history-date ul li h3 span{display:block;color:#d0d0d0;font-size:12px;}
.history-date ul li dl{width:520px;float:left;margin-top:-10px; padding:10px; margin-left:40px;font-family:"Œ¢»Ì—≈∫⁄"; background:#FFFFFF; border:1px #d4d4d4 solid}
.history-date ul li dl h4{line-height: 30px;display: block;height: 30px;font-weight: normal;}
.history-date ul li dl h4 .fl{float: left;color: rgb(0, 153, 0);font-size: 14px;}
.history-date ul li dl h4 .fl i{ font-size:22px; color: #006600; padding-right:10px; font-style:normal}
.history-date ul li dl h4 .fr {text-align: right; float: right; color: rgb(153, 153, 153); font-size: 12px;}
.history-date ul li dl p.con {border-bottom: 1px solid rgb(236, 236, 236);line-height: 30px; display: block;color: rgb(85, 85, 85);border-top: 1px solid rgb(236, 236, 236);font-weight: normal;padding-top: 15px;}
.history-date ul li dl h5{padding: 15px 0px;display: block;font-weight: normal;color: rgb(0, 153, 153);}
.history-date ul li dl h5 b{color:#333333}
.history-date ul li .leftcorner{width:24px; height:30px;position:absolute; overflow:hidden;z-index:99;left:80px;display:block; background:url("../images/blog_icons.png") repeat scroll -0px -99px transparent;}
.history-date ul li dl dt{font:20px/22px "Œ¢»Ì—≈∫⁄";color:#737373;}
.history-date ul li dl dt span{display:block;color:#787878;font-size:12px;}